*{
	margin: 0;
}

#alerta {
	width: 400px;
	background-color: #eddfdf;
	border: 1px solid #ccc;
	margin: 40px auto;
	cursor: move;
	position: absolute;
	left: calc(50% - 200px);
}

#alerta .title{
	background-color: #329596;
	height: 30px;
	border-bottom: 1px solid #227374;
	text-transform: uppercase;
	padding: 10px 10px 0px 0px;
	text-align: center;
	color: #073c3d;
	text-shadow: 1px 1px 1px #6fabac;
}

#alerta .title a{
	cursor: pointer;
}

#alerta .title i{
	float: right;
	padding-top: 3px;
}

#alerta .body{
	padding: 10px;
}

form button{
	display: block;
	padding: 4px 11px;
	border: 1px solid #ffcc00;
	background-color: #ffcc00 !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcc00), color-stop(100%,#ff6600)) !important;
	background: -webkit-linear-gradient(top, #ffcc00, #ff6600) !important;
	background: -moz-linear-gradient(top, #ffcc00, #ff6600) !important;
	background: -ms-linear-gradient(top, #ffcc00, #ff6600) !important;
	background: -o-linear-gradient(top, #ffcc00, #ff6600) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#ff6600',GradientType=0 );
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 0 #666;
	cursor:pointer;
	position: relative;
	margin: 10px auto;
}

input[type=text]{   
    height: 34px;
    width: 315px;
    padding: 2px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#alerta .resultado{
	color: #227210;
	font-size: 12px;
}


#contador {
	color: #227210;
	text-align: center;
}
/**********************************************************************************/

#primeiro-bloco {
	z-index: 1;
	width: 100vw;
	height: 90vw;
	background-image: url("../images/banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: auto;
	vertical-align: middle;
}
	
	#barra-superior {
		z-index: 2;
		height: 7vw;
		width: 100vw;
		background-color: rgba(0, 0, 0, 0.7);
	}

	@media only screen and (max-width: 540px) {
		#barra-superior {
			z-index: 2;
			height: 30vw;
			width: 100vw;
			background-color: rgba(0, 0, 0, 0.7);
		}
	}

		#barra-superior img {
			margin-top: 3%;
			margin-left: 3%;
		}

		#barra-superior ul {
			list-style: none;
			float: right;
			position: relative;
			margin-right: 3%;
			margin-top: 2%;			
		}

		.lista-barra{
			display: inline-block;
			font-family: "Montserrat", sans-serif;
			color: white;
			padding: 8px;
			cursor: pointer;
			text-decoration: none;
			font-size: 18px;
			background-color: none;
		}

		#barra-superior ul li a{
			text-decoration: none;
			color: white;
		}

	#aprenda {
		color: white;
		font-size: 52px;
		text-shadow: 3px 2px black;
		font-family: "Montserrat", sans-serif;
		text-align: center;
	}

	#div-header {
		text-align: center;
		margin-top: 20%;
	}

	#div-header ul {
		list-style: none;
		position: relative;
		margin: 10px;
	}

	#div-header ul li {
		display: inline-block;
		padding: 10px 40px;
		font-family: "Montserrat", sans-serif;
		font-size: 25px;
		text-shadow: 1px 1px black;
		color: white;
		border: solid;
		cursor: pointer;
	}

#segundo-bloco {
	background-color: white;
	margin-top: 5%;
	border-bottom: solid;
	border-bottom-color: #DDE1E7;
	padding-bottom: 7%;
}

	#segundo-bloco h1 {
		color: #F16557;
		font-family: "Montserrat", sans-serif;
		padding-bottom: 2%;
		letter-spacing: 10px;
	}

	#segundo-bloco img {
		float: left;
		vertical-align: middle;
	}

	#segundo-bloco p {
		font-size: 100%;
		font-family: "Montserrat", sans-serif;
		vertical-align: middle;
	}

#terceiro-bloco {
	background-color: white;
	border-bottom: solid;
	border-bottom-color: #DDE1E7;
}
	
	#terceiro-bloco h1 {
		font-family: "Montserrat", sans-serif;
		color: #F16557;
		text-align: center;
		letter-spacing: 10px;
		margin-top: 2%;
	}

	#blocasso {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100vw;
		height: 80vh;
		margin: 0 auto;
	}

		.bloquin {
			border: solid;
			border-color: #DDE1E7;
			position: relative;
			margin: 1%;
			height: 70%;
			width: 90%;
			overflow: scroll;
		}

		.texto-de-bloquin {
			font-family: "Montserrat", sans-serif;
			font-size: 80%;
			text-align: center;
			margin-top: 8%;
			max-width: 100%;
			max-height: 100%;
		}

		.botao-de-bloquin {
			text-align: center;
			font-family: "Montserrat", sans-serif;
			font-weight: bold;
			font-size: 80%;
			border: solid;
			background-color: #FF7F00;
			border-radius: 13%;
			color: white;
			margin-left: 20%;
			margin-right: 20%;
			margin-top: 5%;
			padding: 3% 5%;
			letter-spacing: 1px;
			cursor: pointer;
		}

		.texto-de-bloquin2 {
			font-family: "Montserrat", sans-serif;
			font-size: 80%;
			text-align: right;
			margin-top: 8%;
			margin-right: 5%;
		}

		.botao-de-bloquin2 {
			text-align: center;
			font-family: "Montserrat", sans-serif;
			font-weight: bold;
			font-size: 80%;
			border: solid;
			background-color: #A72D3A;
			border-radius: 13%;
			color: white;
			margin-left: 20%;
			margin-right: 20%;
			margin-top: 5%;
			padding: 3% 5%;
			letter-spacing: 1px;
			cursor: pointer;
		}

		@media only screen and (max-width: 1000px) {

			.botao-de-bloquin {
				text-align: center;
				font-family: "Montserrat", sans-serif;
				font-weight: bold;
				font-size: 50%;
				border: solid;
				background-color: #FF7F00;
				border-radius: 13%;
				color: white;
				margin-left: 10%;
				margin-right: 10%;
				margin-top: 5%;
				padding: 3% 5%;
				letter-spacing: 1px;
			}

			.botao-de-bloquin2 {
				text-align: center;
				font-family: "Montserrat", sans-serif;
				font-weight: bold;
				font-size: 50%;
				border: solid;
				background-color: #A72D3A;
				border-radius: 13%;
				color: white;
				margin-left: 10%;
				margin-right: 10%;
				margin-top: 8%;
				padding: 3% 5%;
				letter-spacing: 1px;
			}

		}


		.aBotao-de-bloquin {
			text-decoration: none;
			color: white;
		}

			.fundo-bloquin {
				width: 100%;
				height: 70%;
				border-bottom: solid;
				border-bottom-color: #DDE1E7;
				overflow: scroll;
			}

			.texto-de-fundo-bloquin {
				float: left;
				margin-left: 10%;
				color: white;
				font-family: "Montserrat", sans-serif;
				max-width: 100%;
				max-height: 100%;
			}

			.img-de-fundo-bloquin {
				display: block;
				margin-left: auto;
				margin-right: auto;
				padding-top: 10%;
				max-width: 100%;
				max-height: 100%;
			}

		#primeiro-fundo-bloquin {
			background-color: #D65B43;
		}
	
		#segundo-fundo-bloquin {
			background-color: #D65B43; 
		}

		#terceiro-fundo-bloquin {
			background-color: #6CC5EB; 
		}

		#quarto-fundo-bloquin {
			background-color: #F3CA4B; 
		}

#quarto-bloco {
	background-color: white;
}
	
	#quarto-bloco h1 {
		font-family: "Montserrat", sans-serif;
		color: #A72D3A;
		text-align: center;
		letter-spacing: 10px;
		margin-top: 2%;
	}

	#quinto-fundo-bloquin {
			background-color: #B21300; 
		}

	#sexto-fundo-bloquin {
			background-color: #A72D3A; 
		}

	#setimo-fundo-bloquin {
			background-color: #8A2BFF; 
		}

	#oitavo-fundo-bloquin {
			background-color: #A72D3A; 
		}

	.VerMais {
		text-align: center;
		font-family: "Montserrat", sans-serif;
		border: solid;
		background-color: black;
		border-radius: 10%;
		color: white;
		cursor: pointer;
		margin-left: 45%;
		margin-bottom: 0.5%;
		padding: 0.5% 4%;
	}